:root{
  /* Navbar */
  /* colores */
  --navbarbackgroundcolor: rgb(255, 255, 255);
  --navbarbackgroundcolorhover:rgb(155, 153, 153);
  /* fuente */
  --navbarfont: 'Arial', sans-serif;
  --navbartextColor: rgb(0, 0, 0);
  --navbartextColorhover:green;
}
header{
  background-color: var(--navbarbackgroundcolor);
}
.navbar {
    display: flex;
    background-color: var(--navbarbackgroundcolor);
    font-family: var(--navbarfont);
    color: var(--navbartextColor);
  }
  #toggle-menu {
    display: none;
  }
  .navbar ul {
    list-style-type: none;
  }
  .navbarlinks li a {
    flex: 1;
    padding: 20px;
  }
  .navbar a {
    text-decoration: none;
    color: var(--navbartextColor);
  }
  .navbar a:hover {
    color: var(--navbartextColorhover);
  }
  .navbar i {
    font-size: 36px;
  }
  .navbarlinks {
    display: none;
    text-decoration: none;
    background-color: var(--navbarbackgroundcolor);
    color: var(--navbartextColor);
  
    width: 100%;
  }
  .navbarlinks:hover {
    color: var(--navbartextColorhover);
  }
  #toggle-menu:checked ~ .navbarlinks {
    position: absolute;
    top: 11vh;
    left: 5%;
    border: 1px solid gray;
    border-radius: 25px;
  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 50vh;
  }
  #toggle-menu:checked ~ .navbarlinks li{
    display: flex;
    width: 95%;
  
    border: 1px solid gray;
    border-radius: 25px;
  }
  #toggle-menu:checked ~ .navbarlinks li:hover{
    background-color: var(--navbarbackgroundcolorhover);
  }
  @media screen and (min-width: 1024px) {
    .navbarlinks {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
    nav label {
      display: none;
    }
  }