:root {
    /* Body */
    --bodycolor: black;
    --bodybackgroundcolor: white;
    /* btn hero */
    --herobtnmaxwhith:200px;
    --herobtnmaxheigh:50px;
    --herobtnbackgroundcolor: rgba(78, 78, 78, 0.521);
    --herobtnbordercolor:rgba(255, 0, 0, 0);

    --herobtnradius:25px;
    --herobtnfont:'Arial', sans-serif;
    --herobtnfontcolor:rgb(255, 255, 255);
    
    --herobtnHover: rgba(245, 20, 20, 0.734); 
    --herobtnradiushover:25px;
    --herobtnfontcolorhover:rgb(12, 12, 12);

    /* btn standar */
    --btnWhith:50px;
    --btnHeight:50px;
    --btnBorderRadius:5px;
    --btnbackgroundcolor: rgba(78, 78, 78, 0.521);
    --btnbackgroundcolorhover: rgb(245, 20, 20);
    --btnbordercolor:rgba(255, 0, 0, 0);
    --btnbordercolorhover:rgba(255, 0, 0, 0);
}


/* tamaños en px de objetos */

.x10{width: 10px;}
.x20{width: 20px;}
.x30{width: 30px;}
.x40{width: 40px;}
.x50{width: 50px;}
.x60{width: 60px;}
.x70{width: 70px;}
.x80{width: 80px;}
.x90{width: 90px;}
.x100{width: 100px;}
.x150{width: 150px;}
.x200{width: 200px;}

.y10{height: 10px;}
.y20{height: 20px;}
.y30{height: 30px;}
.y40{height: 40px;}
.y50{height: 50px;}
.y60{height: 60px;}
.y70{height: 70px;}
.y80{height: 80px;}
.y90{height: 90px;}
.y100{height: 100px;}
.y150{height: 150px;}

.mt10{margin-top: 10px;}

/* btn hero */
.btnhero { max-width: var(--herobtnmaxwhith); max-height: var(--herobtnmaxheigh); background-color: var(--herobtnbackgroundcolor); border: 2px solid var(--herobtnbordercolor); border-radius: var(--herobtnradius); font-family: var(--herobtnfont); color: var(--herobtnfontcolor); display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; padding: 5px; }
.btnhero:hover { background-color: var(--herobtnHover); border-radius: var(--herobtnradiushover); color: var(--herobtnfontcolorhover); }

.btn{
    min-width:var(--btnWhith);
    min-height: var(--btnHeight);
    background-color: var(--btnbackgroundcolor);
    border: 2px solid var(--btnbordercolor);
    border-radius: var(--btnBorderRadius);
}

.btn:hover{
    background-color: var(--btnbackgroundcolorhover);
    border: 2px solid var(--btnbordercolorhover);
}

/* body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--bodycolor);
    background-color: var(--bodybackgroundcolor);

    background-image: url(../img/bodybackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 1920px;
    min-height: 10vh;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
/* 
  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
*/
}
main{
    margin-top: 10vh;
    width: 100%;
    max-width: 1920px;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
    max-width: 1920px;
    min-height: 20vh;

    border-top: 1px solid black;
}