/*css del nav */
@import url(../nav/nav.css);

/*css del hero */
@import url(../hero/hero.css);

/* css promos */
@import url(../promos/carousel.css);

/* css products */
@import url(../products/products.css);


/* test */

/* div{
  border: 1px solid rgb(9, 196, 49);
}
main{
  border: 1px solid blue;
}
section{
  border: 1px solid green;
}
img{
  border: 1px solid black;
} */
